p{
    background-color: rgb(81, 47, 202);
    color: white;
}
div{
    border: yellow 5px double;
}

.texto{
    font-size: 50px;
    text-align: center;
}

section p {
    background-color: rgb(43, 183, 226);
}

#cabeçalho{
    background-color: blue;
    font-size: 100px;
    width: 500px;
    height: 400px;
}